<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Folevi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Folevi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Auth0 callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2026 Folevi</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.folevi.mac.blocks</string>
			<key>UTTypeDescription</key>
			<string>Folevi Blocks</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.data</string></array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.folevi.mac.document-ref</string>
			<key>UTTypeDescription</key>
			<string>Folevi Document</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.data</string></array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.folevi.mac.task-ref</string>
			<key>UTTypeDescription</key>
			<string>Folevi Task</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.data</string></array>
		</dict>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Folevi can remind you when a task is due.</string>
	<key>FoleviConvexURL</key>
	<string>$(CONVEX_URL)</string>
	<key>FoleviAuth0Domain</key>
	<string>$(AUTH0_DOMAIN)</string>
	<key>FoleviAuth0ClientID</key>
	<string>$(AUTH0_CLIENT_ID)</string>
	<key>FoleviDevAuthURL</key>
	<string>$(FOLEVI_DEV_AUTH_URL)</string>
#if FOLEVI_LOCAL_ATS
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
#endif
</dict>
</plist>
